node_modules
.next/
next-env.d.ts
src/api/bin/
src/api/lib/
src/api/pyvenv.cfg
.vscode/
src/api/tests/__pycache__/
src/api/__pycache__/
src/api/backend-error.log
.env.production
build/
backend-error.log
.venv